@import url('https://fonts.googleapis.com/css?family=Raleway:400,900,700,500,300');

body {
  background-image: #000;
  background-position: 50%;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;  
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
}

h3 {
  text-align: center;
  font-weight: 900;
  font-size: 15px;
  /*text-transform: uppercase;*/
  margin: 15px;
}

small {
  font-size: 12px;
  text-transform: lowercase;
  font-weight: 300;
  text-align: center;
  display: block;
}

.navicon {
  width: 100%;
  background: transparent;
  margin: 80px auto 40px;
  position: relative;
  height: 30px;
  width: 50px;
  display: block;
  z-index: 99;
  transition: linear 0.5s all;
}

.navicon:before,
.navicon:after {
  background: #fff;
  backface-visibility: hidden;
  content: "";
  height: 3px;
  left: 0;
  transition: 0.8s ease;
  width: 45px;
}

.navicon:before {
  box-shadow: #fff 0 14px 0 0;
  position: absolute;
  top: 0;
}

.navicon:after {
  position: absolute;
  top: 28px;
}

.navicon--active {  
  /* margin-top: 20px; */
  transition: linear 0.5s all;
}

.navicon--active:before {
  box-shadow: transparent 0 0 0 0;
  top: 15px;
  transform: rotate(225deg);
}

.navicon--active:after {  
  top: 15px;
  transform: rotate(315deg);
}

.toggle {
  display: block;
  margin: 20px auto;
  width: 30%;
  background-color: rgba(255, 255, 255, .8);
  padding: 15px;
  display: block;
  opacity: 0;
  transition: ease-in 0.5s all;
  transform: translateY(-200%);
  min-width: 320px;
}

.toggle--active {
  display: block;
  opacity: 1;
  transition: ease-in 0.5s all;
  transform: translateY(0);
}

.toggle__menu {
  margin-bottom: 25px;
  margin-right: 25px;
}

.toggle__menu li {
  width: 100%;
  display: block;
  /* margin-left: 10px; */
  margin: 20px auto;
}

.toggle__menu li a {
  text-decoration: none;
  color: #000;
  display: block;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: linear 0.5s all;
  font-weight: 500;
  padding: 5px 0;
}

.toggle__menu li a span {
  text-transform: lowercase;
}

.toggle__menu li a:hover {
  color: #db5523;
  border-bottom: 2px solid #db5523;
  transition: linear 0.5s all;
  transform: scale(1.15);
  font-weight: 700;
}

.social {
  display: block;
  width: 70%;
  margin: 25px auto;
  margin-left: 30px;
  text-align: center;
  font-size: 0;
}

.social li {
  display: inline-block;
  width: 25%;
  text-align: center;
}

.social li a {
  text-align: center;
  color: #000;
  font-size: 25px;
  transition: linear 0.5s all;
}

.social li a:hover {
  color: #db5523;        
  transition: linear 0.5s all;
}
